<%= provide(:title, "All users")%>
<ul class="users">
<%= will_paginate @users, class: "apple_pagination" %>
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 80 ,class: "img-circle"%>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      	| <%= link_to "Delete", user,method: :delete, data: { confirm: "Are you sure?"} %>
      <% end %>
    </li>
  <% end %>
  <%= will_paginate @users, class: "apple_pagination" %>
</ul>
