<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.text_field :title,class: "form-control", placeholder: "Please input the title"%>
    </div>
  </div>
  <p>
    <div class="form-group">
      <div class="col-sm-block">
        <%= f.text_area :body,class: "form-control", rows: "3", placeholder: "Write your post here..."%>
      </div>      
    </div>
  </p>  
  <div class="row">
    <div class="col-sm-2">
      <%= f.submit "Post", class: "btn btn-primary btn-slg btn-block"%>
    </div>
  </div>
<% end %>
