<%= will_paginate @microposts, class: "apple_pagination" %>
<% @microposts.each do |micropost| %>
  <div class="media">
    <a class="pull-left" href="#">
      <%= gravatar_for micropost.user, size: 50, class: "img-rounded" %>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%=link_to micropost.user.name,user_path(micropost.user) %><P>
      </h4>
    <%= micropost.content %>  
    </div>
  </div>
  <% if current_user.admin? || current_user?(micropost.user) %>
  <%= link_to "Delete", micropost,method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
<% end %>
<br />
<%= will_paginate @microposts, class: "apple_pagination" %>