  <div class="containner">
    <div class="row">
      <div class="col-md-3">
        <a class="pull-right" href="#">
        <%= gravatar_for @post.user, size: 200, class: "img-rounded" %>
        </a>
      </div>
      <div class="col-md-7">   
        <div class="page-header">
          <h1>
            <b><%= @post.title%></b><br/>
            <h3><small>Posted <%= time_ago_in_words(@post.created_at) %> ago</small></h3>          
          </h1>             
        </div>        
        <h4>
         <%= @post.body %> 
        </h4> 
        <div class="page-header">
          <h4>
            <div class="pull-left">
                <% if current_user.admin? || current_user?(@post.user) %>        
                  <%= link_to(user_post_path(@post.user,@post),method: :delete,data: { confirm: "Are you sure?"}) do %>
                    <span class="glyphicon glyphicon-trash">Delete  |</span> 
                  <% end %> 
                  <%= link_to(edit_post_path(@post)) do %>
                    <span class="glyphicon glyphicon-edit">Edit  |</span> 
                  <% end %>              
                <% end %>
                <%= link_to(post_path(@post)) do %>
                    <span class="glyphicon glyphicon-thumbs-up">Good</span> 
                <% end %>
            </div> 
          </h4>
        </div>   
        <UL class="media-list">         
          <%= render @post.comments %>          
        </UL>        
        <%= render 'comments/form' %>           

      <div class="col-md-2">      
      </div>
    </div>
  </div>
  




